# Document-Based Stores (MongoDB)

### Task 1: Create a simple MongoDB out of this relational model

This is  a toy DB about movies and actors who played roles in these movies. This DB is consisted of  

- A "Person" table who has a unique id, and a name fields.

- Another "Movie" table that has a unique id, a title, a country where it was made, and a year when it was released.

- There is (m-n) or "many-many" relationship between these two tables (i.e basically, many actors can act in many movies, and the movie include many actors)
- Therefore, we use the "Roles" table in which we can deduct which person has acted in which movie, and what role(s) they played.

<img src="RDBSchema.png" alt="3" border="0">

#### Connect to the MongoDB server, and create a mongoDB with the name 'moviedb'

In [1]:
##YOUR CODE HERER
from pymongo import MongoClient

mongo = "localhost"
myclient = MongoClient("mongodb://"+mongo+":27017/", username='admin', password='admin')
db = myclient.moviedb

#### Create Person/Actor collection

In [11]:
##YOUR CODE HERER
person_collection = db.moviedb.person

#### Insert the data into the Person Table

In [12]:
personList = [
  { "id": 1, "name": "Charlie Sheen" },
  { "id": 2, "name": "Michael Douglas"},
  { "id": 3, "name": "Martin Sheen"},
  { "id": 4, "name": "Morgan Freeman"}
]

...###YOUR CODE HERE
db.moviedb.person.insert_many(personList)

InsertManyResult([ObjectId('68e7b8487527e2f2dc991b10'), ObjectId('68e7b8487527e2f2dc991b11'), ObjectId('68e7b8487527e2f2dc991b12'), ObjectId('68e7b8487527e2f2dc991b13')], acknowledged=True)

#### Creating rest of Collections ("Movies", "Roles")

In [5]:
restcols = ["Movies","Roles"]

for col in restcols:
    ...###YOUR CODE HERE
    collection = db.moviedb[col]

#### Inserting data into the movie Collection

In [6]:
moviescoll = db.moviedb.movies###YOUR CODE HERE

movieList = [
  { "id": 1, "title": "Wall Street", "country":"USA","year":1987},
  { "id": 2, "title": "The American President", "country":"USA","year":1995},
  { "id": 3, "title": "The Shawshank Redemption", "country":"USA","year":1994},
]

...###YOUR CODE HERE
moviescoll.insert_many(movieList)

InsertManyResult([ObjectId('68e7b78c7527e2f2dc991b07'), ObjectId('68e7b78c7527e2f2dc991b08'), ObjectId('68e7b78c7527e2f2dc991b09')], acknowledged=True)

#### Inserting data into the roles Collection

In [7]:
rolesCol = db.moviedb.roles

roleList = [
  { "personId": 1, "movieId": 1, "role":["Bud Fox"]},
  { "personId": 2, "movieId": 1, "role":["Carl Fox"]},
  { "personId": 3, "movieId": 1, "role":["Gordon Gekko"]},
  { "personId": 2, "movieId": 2, "role":["A.J. MacInerney"]},
  { "personId": 3, "movieId": 2, "role":["President Andrew Shepherd"]},
  { "personId": 4, "movieId": 3, "role":["Ellis Boyd 'Red' Redding"]}
]

...###YOUR CODE HERE
rolesCol.insert_many(roleList)

InsertManyResult([ObjectId('68e7b7c77527e2f2dc991b0a'), ObjectId('68e7b7c77527e2f2dc991b0b'), ObjectId('68e7b7c77527e2f2dc991b0c'), ObjectId('68e7b7c77527e2f2dc991b0d'), ObjectId('68e7b7c77527e2f2dc991b0e'), ObjectId('68e7b7c77527e2f2dc991b0f')], acknowledged=True)

### <font color ='green'>Just for your info</font>:

#### Another Way of Modeling this M-N model in Mongo would be using the Forien Keys 


* Movies


```[

{
	"_id": 1,
	"title":"Wall Street",
	"country":"USA",
	"year":1987,
	"persons":[1,2]
},

{
	"_id": 2,
	"title":"The American President",
	"country":"USA",
	"year":1995,
	"persons":[2]
}]
```
* Actors

```
[{
    "_id": 1,
    "name": "Charlie Sheen",
    "movies":[
    {"role": "Bud Fox", "movie_id":1}
    ]
},

{
    "_id": 2,
    "name": "Micheal Douglas",
    "movies":[
    {"role": "Gordon Geko", "movie_id":1},
    {"role": "President Andrew Shepherd", "movie_id":2}
    ]
}

] ```

#### Get all actors in your Mongo DB

In [29]:
###YOUR CODE HERE
data = db.moviedb.person.find({})

for person in data:
    print(person)

{'_id': ObjectId('68e7b8487527e2f2dc991b10'), 'id': 1, 'name': 'Charlie Sheen'}
{'_id': ObjectId('68e7b8487527e2f2dc991b11'), 'id': 2, 'name': 'Michael Douglas'}
{'_id': ObjectId('68e7b8487527e2f2dc991b12'), 'id': 3, 'name': 'Martin Sheen'}
{'_id': ObjectId('68e7b8487527e2f2dc991b13'), 'id': 4, 'name': 'Morgan Freeman'}

#### Get actors with names start with 'C' letter

In [32]:
###YOUR CODE HERE
data = db.moviedb.person.find({"name": {"$regex": "^C"}})

for person in data:
    print(person)

{'_id': ObjectId('68e7b8487527e2f2dc991b10'), 'id': 1, 'name': 'Charlie Sheen'}

#### Get all Movies sorted from recent to old! (get only the title and year fields)

In [34]:
###YOUR CODE HERE
data = db.moviedb.movies.find({}, {"_id": 0, "title": 1, "year": 1}).sort({"year": -1})

for movie in data:
    print(movie)

{'title': 'The American President', 'year': 1995}
{'title': 'The Shawshank Redemption', 'year': 1994}
{'title': 'Wall Street', 'year': 1987}

#### Get all Movies released in the 90s (after year (1990) and before 2000) ordered from old to recent.

In [38]:
###YOUR CODE HERE
data = db.moviedb.movies.find({"$and": [{"year": {"$gt": 1990}}, {"year": {"$lt": 2000}}]}).sort({"year": 1})

for movie in data:
    print(movie)

{'_id': ObjectId('68e7b78c7527e2f2dc991b09'), 'id': 3, 'title': 'The Shawshank Redemption', 'country': 'USA', 'year': 1994}
{'_id': ObjectId('68e7b78c7527e2f2dc991b08'), 'id': 2, 'title': 'The American President', 'country': 'USA', 'year': 1995}

#### Get Movies and Actors from your "movies" DB
* Hint : use the <code>'$lookup'</code> operator.
* The Result should be something like the following:
<code>
Charlie Sheen : Wall Street
Michael Douglas : Wall Street
Martin Sheen : Wall Street
Michael Douglas : The American President
Martin Sheen : The American President
Morgan Freeman : The Shawshank Redemption
</code>

In [57]:
###YOUR CODE HERE
pipeline = [
    {
        "$lookup": {
            "from": "moviedb.person",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    { "$unwind": "$actor"},
    {
        "$lookup": {
            "from": "moviedb.movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movie_info"
        }
    },
    { "$unwind": "$movie_info"},
    {
        "$project": {
            "_id": 0,
            "actor_name": "$actor.name",
            "movie_title": "$movie_info.title"
        }
    }
]

data = db.moviedb.roles.aggregate(pipeline)

for doc in data:
    print(f"{doc['actor_name']} : {doc['movie_title']}")

Charlie Sheen : Wall Street
Michael Douglas : Wall Street
Martin Sheen : Wall Street
Michael Douglas : The American President
Martin Sheen : The American President
Morgan Freeman : The Shawshank Redemption

#### For each Actor, get count of "Movies" he acted in.

In [64]:
###YOUR CODE HERE
pipeline = [
    {
        "$lookup": {
            "from": "moviedb.person",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    { "$unwind": "$actor" },
    {
        "$lookup": {
            "from": "moviedb.movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movieInfo"
        }
    },
    { "$unwind": "$movieInfo" },
    {
        "$group": {
            "_id": { "id": "$actor.id", "name": "$actor.name" },  # group key is an object
            "totalMovies": { "$sum": 1 }                           # count movies
        }
    },
    {
        "$sort": { "totalMovies": -1 }
    }
]

data = db.moviedb.roles.aggregate(pipeline)

for actor in data:
    print(f"{actor['_id']['id']} - {actor['_id']['name']}: acts in {actor['totalMovies']} movies")

2 - Michael Douglas: acts in 2 movies
3 - Martin Sheen: acts in 2 movies
1 - Charlie Sheen: acts in 1 movies
4 - Morgan Freeman: acts in 1 movies

#### In your DB, list the movies that every Actor played

In [66]:
#Im implementing this according to my understanding (which is movies that has all actors played in them)

###YOUR CODE HERE
total_actors = db['moviedb.person'].count_documents({})

pipeline = [
    {
        "$lookup": {
            "from": "moviedb.person",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    { "$unwind": "$actor" },
    {
        "$lookup": {
            "from": "moviedb.movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movieInfo"
        }
    },
    { "$unwind": "$movieInfo"},
    {
        "$group": { 
            "_id": { "id": "$movieInfo.id", "movie": "$movieInfo.title"},
            "actors": { "$addToSet": "$actor.name" }
        }
    },
    {
        "$match": {
            "$expr": { "$eq": [ { "$size": "$actors" }, total_actors ] }
        }
    },
    {
        "$project": {
            "_id": 0,
            "movieId": "$_id.movieId",
            "title": "$_id.title",
            "actors": 1
        }
    }
]

data = db.moviedb.roles.aggregate(pipeline)

for movie in data:
    print(f"{movie['title']}: {', '.join(movie['actors'])}")

#### Get the Persons/Actors who acted in "Wall Street" movie
- Hint use `$lookup` , `$match` operators in the aggregation piepeline

In [76]:
###YOUR CODE HERE
pipeline = [
    {
        "$lookup": {
            "from": "moviedb.person",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    { "$unwind": "$actor" },
    {
        "$lookup": {
            "from": "moviedb.movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movieInfo"
        }
    },
    { "$unwind": "$movieInfo"},
    {
        "$group": { 
            "_id": { "id": "$movieInfo.id", "movieTitle": "$movieInfo.title"},
            "actors": { "$addToSet": "$actor.name" }
        }
    },
    {
        "$match": {
            "_id.movieTitle": "Wall Street"
        }
    },
    {
        "$project": {
            "_id": 0,
            "movieId": "$_id.id",
            "movieTitle": "$_id.movieTitle",
            "actors": 1
        }
    }
]

data = db.moviedb.roles.aggregate(pipeline)

for movie in data:
    print(f"{movie['movieTitle']}: {', '.join(movie['actors'])}")

Wall Street: Michael Douglas, Martin Sheen, Charlie Sheen

#### Get the Movies in which "Micheal Douglas" has played a role in

In [78]:
###YOUR CODE HERE
###YOUR CODE HERE
pipeline = [
    {
        "$lookup": {
            "from": "moviedb.person",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    { "$unwind": "$actor" },
    {
        "$lookup": {
            "from": "moviedb.movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movieInfo"
        }
    },
    { "$unwind": "$movieInfo"},
    {
        "$group": { 
            "_id": { "id": "$actor.id", "actorName": "$actor.name"},
            "movies": { "$addToSet": "$movieInfo.title" }
        }
    },
    {
        "$match": {
            "_id.actorName": "Michael Douglas"
        }
    },
    {
        "$project": {
            "_id": 0,
            "actorId": "$_id.id",
            "actorName": "$_id.actorName",
            "movies": 1
        }
    }
]

data = db.moviedb.roles.aggregate(pipeline)

for actor in data:
    print(f"{actor['actorName']}: {', '.join(actor['movies'])}")

Michael Douglas: Wall Street, The American President

#### Get count of "Movies" in your DB

In [79]:
###YOUR CODE HERE
total_movies = db.moviedb.movies.count_documents({})
print(total_movies)

3

#### update the year of the 'Wall Street' movie was released in to be 2000(which is not true BTW :)
- Show that movie before and After updating it

In [82]:
###YOUR CODE HERE
data = db.moviedb.movies.find({"title": "Wall Street"})
for wall_street in data:
    print(wall_street)

db.moviedb.movies.update_one(
    { "title": "Wall Street" }, # filter
    { "$set": { "year": 2000}}
)

data = db.moviedb.movies.find({"title": "Wall Street"})
for wall_street in data:
    print(wall_street)

{'_id': ObjectId('68e7b78c7527e2f2dc991b07'), 'id': 1, 'title': 'Wall Street', 'country': 'USA', 'year': 1987}
{'_id': ObjectId('68e7b78c7527e2f2dc991b07'), 'id': 1, 'title': 'Wall Street', 'country': 'USA', 'year': 2000}

####  Delete all the persons with names start with 'M' letter.

In [92]:
###YOUR CODE HERE
data = db.moviedb.person.find({})
for actor in data:
    print(actor["name"])

result = db.moviedb.person.delete_many({"name": {"$regex": "^M"}})

data = db.moviedb.person.find({})
for actor in data:
    print(actor["name"])

Charlie Sheen
Michael Douglas
Martin Sheen
Morgan Freeman
Charlie Sheen

### Task 2: Extend your Mongo-"MovieDB" 

Imagine now that we are going to extend our DB with new movies, actors, even with new directors.

- We add <b>**"The matrix"**</b> movie which was released in <b> USA, (1999)</b>, and has a new property/field "Tagline" <b>("Welcome to the Real World")</b>.
 
- We will also add 4 new actors (Person):
    - **"Keanu Reeves"** who was born in (1964). <font color='green'>Note:</font> "born" property is also new.
    - **"Carrie-Anne Moss"** who was born in (1967).
    - **"Laurence Fishburne"** who was born in (1960).
    - **"Hugo Weaving"** who was born in (1960).
    
- Moreover, we add 2 directors (Person) :
    - **"Lilly Wachowski"**, born in (1967)
    - **"Lana Wachowski"**, born in(1965)
- For these directors specify one more label/field as ("Director"). (You can add this while inserting the director documents)
    
 
- We will also create a new <b>collection "Directed" </b> that is directed from the later 2 directors to "the Matrix" movie.

#### Add the Movie "The Matrix" with the provided data to the Movies collection

In [93]:
###YOUR CODE HERE
new_movie = {
    "title": "The Matrix",
    "country": "USA",
    "year": 1999,
    "tagline": "Welcome to the Real World"
}

result = db.moviedb.movies.insert_one(new_movie)

print(f"Inserted movie with _id: {result.inserted_id}")

Inserted movie with _id: 68e818ac7527e2f2dc991b16

#### Insert the new 4 actors to the person collection

In [96]:
#Notice, How is easy to add a new feild compared to the RDB
newActorList = [
  { "id": 5, "name": "Keanu Reeves", "born":1964 },
  { "id": 6, "name": "Carrie-Anne Moss", "born":1967},
  { "id": 7, "name": "Laurence Fishburne", "born":1960},
  { "id": 8, "name": "Hugo Weaving", "born":1960}
]

###YOUR CODE HERE
results = db.moviedb.person.insert_many(newActorList)

print(f"Inserted actors with ids: {results.inserted_ids}")

Inserted actors with ids: [ObjectId('68e8197c7527e2f2dc991b1f'), ObjectId('68e8197c7527e2f2dc991b20'), ObjectId('68e8197c7527e2f2dc991b21'), ObjectId('68e8197c7527e2f2dc991b22')]

#### Insert the new 2 directors to the person collection

In [97]:
###YOUR CODE HERE
directors = [
    { "id": 9, "name": "Lilly Wachowski", "born": 1967, "role": "Director"},
    { "id": 10, "name": "Lana Wachowski", "born": 1965, "role": "Director"}
]

result = db.moviedb.person.insert_many(directors)

print(f"Inserted director IDs: {result.inserted_ids}")

Inserted director IDs: [ObjectId('68e819d47527e2f2dc991b23'), ObjectId('68e819d47527e2f2dc991b24')]

#### Create the "Directed" collection, and insert the data into it

In [98]:
###YOUR CODE HERE
# Find "The Matrix" movie
matrix_movie = db.moviedb.movies.find_one({"title": "The Matrix"})
matrix_id = matrix_movie["_id"]

# Find the two directors
directors = list(db.moviedb.person.find(
    {"name": {"$in": ["Lilly Wachowski", "Lana Wachowski"]}},
    {"_id": 1, "name": 1}
))

# Create the Directed documents
directed_docs = [
    {"directorId": director["_id"], "directorName": director["name"], "movieId": matrix_id, "movieTitle": "The Matrix"}
    for director in directors
]

# Insert into 'Directed' collection
result = db.moviedb.Directed.insert_many(directed_docs)

print(f"Inserted Directed IDs: {result.inserted_ids}")

Inserted Directed IDs: [ObjectId('68e81a4c7527e2f2dc991b25'), ObjectId('68e81a4c7527e2f2dc991b26')]

#### Get only the directors from the person collection (i.e. persons marked with the label "Director")

In [99]:
###YOUR CODE HERE
directors = db.moviedb.person.find(
    {"role": "Director"},          # filter for role = Director
    {"_id": 0, "name": 1, "born": 1}
)

for director in directors:
    print(director)

{'name': 'Lilly Wachowski', 'born': 1967}
{'name': 'Lana Wachowski', 'born': 1965}

#### Perform a query that get persons (names, and born year) who Directed "The Matrix" movie.

In [104]:
###YOUR CODE HERE

pipeline = [
    {
        "$match": {"movieTitle": "The Matrix"}
    },
    {
        "$lookup": {
            "from": "moviedb.person",             
            "localField": "directorId",
            "foreignField": "_id",
            "as": "directorInfo"
        }
    },
    {"$unwind": "$directorInfo"},
    {
        "$project": {
            "_id": 0,
            "name": "$directorInfo.name",
            "birthYear": "$directorInfo.born"
        }
    }
]

results = db.moviedb.Directed.aggregate(pipeline)

for director in results:
    print(director)

{'name': 'Lilly Wachowski', 'birthYear': 1967}
{'name': 'Lana Wachowski', 'birthYear': 1965}

 ## How long did it take you to solve the homework?
 
Please answer as precisely as you can. It does not affect your points or grade in any way. It is okey, if it took 0.5 hours or 24 hours. The collected information will be used to improve future homeworks.

<font color="red"><b>Answer:</b></font>

**<center> <font color='red'>THANK YOU FOR YOUR EFFORT!</font></center>**